USE [FIDB]
GO

IF (OBJECT_ID('rp_fi_break_off', 'P') IS NULL)
BEGIN
    EXEC ('CREATE PROCEDURE rp_fi_break_off AS BEGIN SELECT 1; END');
END
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =========================================================================================
-- Author:		huangbin
-- Create date: 2018-05-05
-- Description:	收款中止更新数据
-- =========================================================================================
ALTER PROCEDURE [dbo].[rp_fi_break_off]
(
    @i_mid     INT -- 单据id
    ,
    @i_emp_id  VARCHAR(20) -- 操作人                    
)
AS
BEGIN TRY
	SET ANSI_WARNINGS OFF;	
	SET NOCOUNT ON;
	/*
	DECLARE @i_emp_id VARCHAR(50);
	DECLARE @i_mid INT;
	*/
	--0匹配
	IF EXISTS(SELECT 0  FROM FIDB.dbo.tfi_incomebill_m WHERE icbm_id = @i_mid AND icbm_real_amt = 0)
	BEGIN
		EXEC FIDB.dbo.rp_fi_ap_wf_update 'AR07',@i_mid,'10',@i_emp_id,5;
		EXEC FIDB.dbo.rp_fi_ap_wf_update 'AR07',@i_mid,'02',@i_emp_id;
		UPDATE FIDB.dbo.tfi_incomebill_m  SET icbm_status = 14
		WHERE icbm_id =  @i_mid
	END
	ELSE
	BEGIN
		DECLARE @amt MONEY;

		SET @amt = ISNULL((SELECT SUM(d.icbd_rec_amt * d.icbd_rate) 
		FROM  FIDB.dbo.tfi_incomebill_d d
		INNER JOIN FIDB.dbo.tfi_incomebill_m m ON m.icbm_id = d.icbd_icbm_id 
		WHERE icbd_icbm_id = @i_mid AND icbd_bill_type BETWEEN 1 AND 2),0)
		
		SELECT @amt = @amt + icbm_real_amt FROM FIDB.dbo.tfi_incomebill_m WHERE icbm_id = @i_mid
		
		DECLARE @tb TABLE (icbd_id INT, rn INT);

		INSERT INTO @tb (rn,icbd_id)
		SELECT rn = ROW_NUMBER( ) OVER ( PARTITION BY icbd_icbm_id ORDER BY icbd_rec_amt),icbd_id
		FROM  FIDB.dbo.tfi_incomebill_d WHERE icbd_icbm_id = @i_mid AND icbd_bill_type BETWEEN 3 AND 4 

		DECLARE @icbd_id INT;
		DECLARE @rn INT;
		SET @rn = 1
		WHILE EXISTS (SELECT 1 FROM @tb)
		BEGIN
			SELECT TOP 1 @icbd_id = icbd_id FROM @tb WHERE rn = @rn;
			
			UPDATE  FIDB.dbo.tfi_incomebill_d SET icbd_rec_amt = CASE WHEN @amt = 0  THEN 0 WHEN (icbd_recb_amt * icbd_rate) <= @amt  THEN icbd_recb_amt ELSE @amt / icbd_rate  END 
			WHERE icbd_id = @icbd_id
			
			UPDATE pm SET paym_real_amt = d.icbd_rec_amt
			FROM FIDB.dbo.tfi_pay_m pm
			INNER JOIN FIDB.dbo.tfi_incomebill_d d ON pm.paym_id = d.icbd_m_id
			WHERE icbd_id = @icbd_id
		
			SELECT @amt = CASE WHEN (icbd_recb_amt * icbd_rate) < @amt THEN @amt -  (icbd_recb_amt * icbd_rate) ELSE 0 END
			FROM FIDB.dbo.tfi_incomebill_d
			WHERE icbd_id = @icbd_id
			
			DELETE FROM @tb WHERE rn = @rn
			SET @rn = @rn + 1
		END
		
		UPDATE FIDB.dbo.tfi_incomebill_m  SET icbm_inc_amt = (SELECT SUM(icbd_rec_amt) FROM tfi_incomebill_d WHERE icbd_icbm_id =@i_mid AND icbd_bill_type IN(3,4,6))
		,icbm_pay_amt = (SELECT sum(icbd_rec_amt) FROM tfi_incomebill_d WHERE icbd_icbm_id =@i_mid AND icbd_bill_type IN(1,2,5))
		,icbm_status = 14
		WHERE icbm_id =  @i_mid			

		 
		UPDATE pm SET paym_amt = pm.paym_real_amt,pm.paym_status = 11,pm.isenable = 0  FROM FIDB.dbo.tfi_pay_m pm
		INNER JOIN FIDB.dbo.tfi_incomebill_m ibm ON ibm.icbm_nbr =  pm.paym_nbr
		WHERE  icbm_id = @i_mid

		EXEC FIDB.dbo.rp_fi_paym_split 0,@i_mid;
		--EXEC FIDB.dbo.rp_fi_paym_merge 0, @i_mid, 0;
		
		UPDATE pm2 SET paym_status = 9
		FROM FIDB.dbo.tfi_pay_m pm
		INNER JOIN FIDB.dbo.tfi_incomebill_d  ibm ON ibm.icbd_m_id =  pm.paym_id
		INNER JOIN FIDB.dbo.tfi_pay_m pm2 ON  pm.paym_nbr = pm2.paym_nbr AND pm2.isenable = 1
		WHERE  icbd_icbm_id = @i_mid AND pm.paym_item BETWEEN 3 AND 4
		
		--处理匹配银行流水待提待审
		DECLARE @tbl     TABLE (td_id INT);
	    INSERT INTO @tbl
	      (
	        td_id
	      )
	    SELECT tdmm_id FROM  fidb.dbo.tfi_dealing_match_m m
		INNER JOIN fidb.dbo.tfi_dealing_match_d d ON d.tdmd_tdmm_id = m.tdmm_id
		INNER JOIN FIDB.dbo.tfi_incomebill_m icbm ON icbm.icbm_id = d.tdmd_bill_id AND d.tdmd_bill_nbr = icbm.icbm_nbr
		WHERE m.tdmm_status < 5 AND icbm.icbm_id = @i_mid
	    
		DELETE fidb.dbo.tfi_dealing_match_a
		WHERE EXISTS(SELECT 0 FROM  @tbl WHERE wfna_m_id = td_id) 
		
		DELETE a FROM HPORTAL.dbo.twf_a a
		WHERE EXISTS(SELECT 0 FROM  @tbl WHERE wfna_m_id = td_id) AND a.wfna_table='fidb.dbo.tfi_dealing_match_a' 
		
		DELETE  fidb.dbo.tfi_dealing_match_d 
		WHERE EXISTS(SELECT 0 FROM  @tbl WHERE tdmd_tdmm_id = td_id) 
		
		DELETE  fidb.dbo.tfi_dealing_match_m 
		WHERE EXISTS(SELECT 0 FROM  @tbl WHERE tdmm_id = td_id) 
		
			
	END
	
END TRY
BEGIN CATCH
	DECLARE @ErrorMessage   NVARCHAR(4000),
	        @ErrorSeverity  INT,
	        @ErrorState     INT;
	SELECT @ErrorMessage = ERROR_MESSAGE(),
	       @ErrorSeverity = ERROR_SEVERITY(),
	       @ErrorState = ERROR_STATE();   
	
	RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH
